<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55640862757-dpu3fr18vt7afaa1ghtvij1utd6q697r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55640862757-dpu3fr18vt7afaa1ghtvij1utd6q697r</string>
	<key>API_KEY</key>
	<string>AIzaSyDfCb2hVgpY43RAzIrgv30PeFS49uE_nVE</string>
	<key>GCM_SENDER_ID</key>
	<string>55640862757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bStore</string>
	<key>PROJECT_ID</key>
	<string>b-store-70e23</string>
	<key>STORAGE_BUCKET</key>
	<string>b-store-70e23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55640862757:ios:050abf1402e455da988fcc</string>
</dict>
</plist>